section {
  background-color: red;
}

.class-maneira {
  background-color: green;
  color: white;
}

[data-background-color="purple"] {
  background-color: purple;
  color: white;
}

[data-background-color="green"] {
  background-color: green;
  color: white;
}

.artiguinho .class-maneira{
  font-size: 40px;
}

.class-maneira.classe-auxiliar-legal{
  background-color: blue;
}

.background-blue {
  background-color: blue;
}

.text-size-30 {
  font-size: 30px;
}

.font-color-white {
  color: white;
}
