.menu-fixed-top {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 10px * 2);
  height: calc(60px - 10px * 2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
}

.left-options {
  display: flex;
  gap: 10px;
}

.button {
  cursor: pointer;
  height: 35px;
  padding: 0 10px;
  border-radius: 5px;
  font-size: 14px;
  transition: box-shadow 200ms;
  will-change: box-shadow;
}

.button:hover {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
}

.button:active {
  box-shadow: none;
}

.secondary-button {
  border: 1px solid rgba(0,0,0,0.15);
}

.primary-button {
  background-color: #010b5e;
  color: white;
  font-weight: 500;
}

.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  gap: 30px;
  margin-top: 60px;
}

.container {
  min-width: calc(50% - 15px);
  height: 250px;
  background-color: skyblue;
  border-radius: 10px;
}

/* ELEVATIONS */
.elevation-0 {
  box-shadow: none;
}
.elevation-1 {
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
}
.elevation-2 {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
}
.elevation-3 {
  box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14), 0 3px 3px -2px rgba(0,0,0,0.12), 0 1px 8px 0 rgba(0,0,0,0.20);
}
.elevation-4 {
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.20);
}
.elevation-6 {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.20);
}
.elevation-8 {
  box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.20);
}
.elevation-9 {
  box-shadow: 0 9px 12px 1px rgba(0,0,0,0.14), 0 3px 16px 2px rgba(0,0,0,0.12), 0 5px 6px -3px rgba(0,0,0,0.20);
}
.elevation-12 {
  box-shadow: 0 12px 17px 2px rgba(0,0,0,0.14), 0 5px 22px 4px rgba(0,0,0,0.12), 0 7px 8px -4px rgba(0,0,0,0.20);
}
.elevation-16 {
  box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.20);
}
.elevation-24 {
  box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.20);
}