.charts-wrapper {
    width: calc(100% - 60px);
    height: calc(100vh - 115px);
    overflow: auto;
    margin-top: 55px;
    padding: 30px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.indicators-wrapper {
    display: flex;
    flex: 1;
    width: 100%;
    gap: 30px;
}

.indicator-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    flex: 1;
    height: 134px;
    background-color: #FFFFFF;
    border: 1px solid #DFE0EB;
    border-radius: 8px;
}

.indicator-button-label {
    color: #9FA2B4;
    font-size: 19px;
    font-weight: bold;
    line-height: 24px;
}