.tickets-table {
    display: flex;
    width: 100%;
    border: 1px solid #DFE0EB;
    border-radius: 8px;
}

.image {
    height: 64px;
    width: 64px;
    background: rgba(0, 0, 0, 0.2);
}

th, td {
    text-align: left;
    width: 200px;
}

tr{
    display: flex;

}

.full-column{
    flex: 1;
    display: flex;
}

tbody{
    display: flex;
    flex-direction: column;
    flex: 1;
}